@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Details view </h1>

<p> Product id is : @ViewBag.prdid</p>
<p> Product name is :ViewBag.prdName </p>
