<h2>Order Placed Successfully 🎉</h2>
<p>Thank you for shopping with us, your order has been confirmed!</p>

<a asp-controller="Products" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
